%section#project
  .container
    .row
      .col-lg-12.text-center
        %h2= t "project.headline"
        %hr.star-primary/
    .row
      - @projects.each_with_index do |project,index|
        .col-sm-4.portfolio-item
          %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal#{index + 1}"}
            .caption
              .caption-content
                %i.fa.fa-search-plus.fa-3x
              .caption-title
                %h3= project.title
            - if project.pictures.empty?
              %img.img-responsive.img-centered{:alt => "", :src => "http://placehold.it/300x300"}/
            - else
              = image_tag project.pictures.first.photo.url(:medium), class:"img-responsive img-centered"
              %br/
    - if admin_signed_in?
      = link_to new_project_path, class: "btn btn-info" do
        %i.fa.fa-plus
        Add project
