/ Portfolio Modals
- @projects.each_with_index do |project,index|
  .portfolio-modal.modal.fade{"aria-hidden" => "true", :id => "portfolioModal#{index + 1}", :role => "dialog", :tabindex => "-1"}
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              %h2= project.title
              %hr.star-primary/
              #carousel.carousel.slide{"data-ride" => "carousel"}
                / Indicators
                %ol.carousel-indicators
                  - project.pictures.count.times do |i|
                    <li data-target="#carousel" data-slide-to= #{i} class=#{'active' if i == 0}>
                / Wrapper for slides
                .carousel-inner
                  - project.pictures.each_with_index do |picture,index|
                    %div{:class => "item #{'active' if index == 0}"}
                      = image_tag picture.photo.url(:large), class:"img-responsive img-centered"
                      .carousel-caption
                        %h3
                          = picture.title
                / Controls
                %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel", :role => "button"}
                  %span.glyphicon.glyphicon-chevron-left
                %a.right.carousel-control{"data-slide" => "next", :href => "#carousel", :role => "button"}
                  %span.glyphicon.glyphicon-chevron-right
              %br/
              - if admin_signed_in?
                %p
                  - project.pictures.each_with_index do |picture,index|
                    = link_to "Delete picture #{index}", project_picture_path(project.id, picture), class: "btn btn-danger",method: :delete, |
                      data: {                                                                                                                |
                      confirm: 'Are you sure you want to delete this picture?'}                                                              |
              %p
                = project.description
              %ul.list-inline.item-details
                %li
                  %strong
                    = link_to 'View Online', project.website, target: "_blank"
                %li
                  %strong
                    = link_to 'View on GitHub', project.github, target: "_blank"
              - if admin_signed_in?
                %p
                  = link_to 'Add photo', new_project_picture_path(project), class: "btn btn-danger"
                  = link_to 'Delete project', project, class: "btn btn-danger",method: :delete, |
                    data: {                                                                     |
                    confirm: 'Are you sure you want to delete this project?'}                   |
              %p
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                  %i.fa.fa-times
                  Close
