/ Header
= render 'home/header'
/ Portfolio Grid Section
= render 'home/portfolio'
/ About Section
= render 'home/about'
/ Contact Section
= render 'home/contact'
/ Scroll to Top Button
.scroll-top.page-scroll
  %a.btn.btn-primary{:href => "#page-top"}
    %i.fa.fa-chevron-up
= render 'project_modal'
/ Plugin JavaScript
%script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"}
