<%= simple_form_for @project do |f| %>
  <% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited
      this project from being saved:</h2>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.input :title %><br>
  </div>
 
  <div class="form-group">
    <%= f.input :description %><br>
  </div>

  <div class="form-group">
    <%= f.input :website %><br>
  </div>

  <div class="form-group">
    <%= f.input :github %><br>
  </div>
 
  <p>
  <%= f.submit 'Submit', :class => 'button right' %> 
  <%= link_to 'Back', root_path %>
  </p>  
<% end %>

    