.authform
  %h3 Upload Photo
  = simple_form_for [@project, @picture]  do |f|
    / Check if there were any errors saving project task and display them if so
    - if @picture.errors.any?
      #error_explanation
        %h2
          = pluralize(@picture.errors.count, "error")
          prohibited
          this picture from being saved:
        %ul
          - @picture.errors.full_messages.each do |msg|
            %li= msg
    / Begin rendering the form
    .form-group
      = f.input :title
      %br/
    .form-group
      = f.input :photo
      %br/
    %p
      = link_to 'Back', root_path, :class => 'button left'
      = f.submit 'Submit', :class => 'button right'
